/*
    General Styles
*/

#scrolldiv { position: relative }
#containerchart {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    margin: auto;
}
#chart {
    width: 100% !important;
    height: 100% !important;
}
#list {border-width:2px !important}
.w-10 {width: 10%}
.w-20 {width: 20%}
.w-30 {width: 30%}
.w-40 {width: 40%}
.w-33 {width: 33.33%}
.table th {text-align: center}
.table td {
    padding:0;
    vertical-align:middle;
    padding-left:10px}
.graphdiv {height:300px}
.btn {padding: 6px}
